POLYGON_API_KEY=
MASSIVE_API_KEY=
MARKET_DATA_BASE_URL=https://api.polygon.io
SCANNER_MIN_PRICE=0.10
SCANNER_MAX_PRICE=20
SCANNER_MIN_DAY_VOLUME=100000
SCANNER_MAX_UNIVERSE=240
SCANNER_CONCURRENCY=8
SCANNER_ACCESS_TOKEN=
SCANNER_MAX_REQUESTS_PER_MINUTE=12
SCANNER_LOOKBACK_BARS=180
SCANNER_PIVOT_WINDOW=2
SCANNER_PIVOT_POOL_PER_SIDE=9
SCANNER_MIN_PIVOTS_PER_SIDE=3
SCANNER_LINE_TOUCH_TOLERANCE_PCT=0.45
SCANNER_HORIZONTAL_SLOPE_PCT_PER_BAR=0.035
SCANNER_MIN_SLOPE_PCT_PER_BAR=0.012
SCANNER_MIN_SCORE=72
SCANNER_MIN_LINE_R2=0.42
SCANNER_MIN_COMPRESSION_PCT=22
SCANNER_MIN_RANGE_COMPRESSION_PCT=8
SCANNER_MIN_WICK_CONTAINMENT_PCT=58
SCANNER_MIN_BODY_CONTAINMENT_PCT=74
SCANNER_MAX_VIOLATION_PCT=22
SCANNER_MIN_TOUCH_SPACING_SCORE=36
SCANNER_MIN_ALTERNATION_SCORE=34
SCANNER_MIN_FORMATION_BARS=18
SCANNER_MAX_FORMATION_BARS=150
SCANNER_MIN_APEX_PROGRESS_PCT=18
SCANNER_MAX_APEX_PROGRESS_PCT=122
SCANNER_READY_DISTANCE_PCT=0.65
SCANNER_CONFIRM_BUFFER_PCT=0.12
SCANNER_STRONG_CLOSE_THRESHOLD_PCT=64
PROVIDER_TIMEOUT_MS=12000
PROVIDER_RETRIES=2
PROVIDER_CACHE_MAX_ENTRIES=4000
